* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #fff;
    /* color: #fff; */
}

div {
    /* border: 1px solid red; */
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    align-items: center;
}

.title,
.input {
    width: 50vw;
}

/* #input {
    background-color: #222222;
    color: white;
} */

/*
#input::placeholder {
    color: #ffffff67;

}*/


.title {
    margin-bottom: 4rem;
    text-align: center;
}

.button {
    width: 250px;
    padding: 5px;
    margin: 4px;
}

#btn-generate {
    width: 100%;
}

.qrcode {
    margin-top: 10px;
    width: 180px;
    height: 180px;
}

.download {
    margin-top: 20px;
    padding: 2px;
}

@media screen and (max-width: 600px) {

    .app {
        justify-content: start;
        /* margin-top: 4rem; */
    }

    .content {
        margin-top: 4rem;
    }

    .title,
    .input {
        width: 80vw;
    }

}